body {
    height: 1200px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white; 
    z-index: 1000; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#first {
    padding-top: 100px !important; /* تم تصحيح الكتابة */
}
